<ul class="nav flex-column bgLightBlue">
  <li class="nav-item">
    <a class="nav-link"  href="{{ path('account.changePassword') }}">Modifier mon mot de passe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mes adresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mes commandes</a>
  </li>
</ul>