{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>{{category.name}}</h1>
        <p>{{category.products|length}} produit(s)</p>
        <div class="row">
            {% for product in category.products %}
            <div class="col-md-3">
                <img src="/uploads/{{ product.illustration }}" class="img-fluid">
                <h3 class="text-center">{{ product.name }}</h3>
                {{ product.getPriceWithTaxes() }}

            </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}
