{% extends 'base.html.twig' %}


{% block body %}
<div class="container my-5">
    <h1>Connexion</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login.index') }}" method="post">
        <label for="username">E-mail :</label>
        <input class="form-control mb-3" type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Mot de passe :</label>
        <input class="form-control mb-3" type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{ path('account.index') }}"> 

        <button class="btn btn-success my-3" type="submit">Me connecter</button>
    </form>
    <br>
    <p>Vous n'avez pas de compte? <a href="{{ path('register.index') }}">S'inscrire</a>
</div>
{% endblock %}
