{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
    <h1>Inscription</h1>
    {{ form(userForm) }}

    <br/>
    <P>Vous avez déjà un compte ? <a href="{{path('login.index')}}">Connectez vous</a></p>
    </div>
{% endblock %}
