<!doctype html>
<html lang="fr" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutik</title>
    <meta name="description" content="La boutique spécialisée dans la fabrication Made In France">

    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('home.index')}}">Boutik</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <div class="speed-menu">
                    {% if app.user %}
                        <a href="{{ path('logout') }}">Me déconnecter</a>
                        <a href="{{ path('account.index') }}"><i data-feather="user" class="me-2"></i>{{ app.user.firstname }}</a>
                    {% else %}
                        <a href="{{ path('account.index') }}"><i data-feather="user"></i></a>
                    {% endif %}
                    <a href=""><i data-feather="shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="text-center mt-4 alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block body %}{% endblock %} 

    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; Boutik - Pré-au-Lard <a href="#">CGV</a> &middot; <a href="#">CGU</a></p>
    </footer>
</main>

<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/js/global.js') }}"></script>
</body>
</html>
